.mainColor {
  background-color: #802c6e !important;
}

.cart {
  font-size: 23px;
}

.cart span {
  padding: 0 10px;
}

.badgeCart {
  position: absolute;
  top: -18px;
  right: -16px;
}

.containItem {
  min-height: 120px;
}

.cart-items,.price {
  color: #802c6e;
}

.cartItem {
  width: 100%;
}
.cart-img {
  width: 30%;
}
.cart-action {
  width: 70%;
}

.price {
  font-size: 50px;
}